html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    font-family: Bad Script;
    background: #09162e;
    background: linear-gradient(to bottom, #09162e, #08214f, #1515c2);
}

h1 {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    background: #09162e;
    color: white;
    margin: 0;
    padding: 1rem 1.5rem;
    font-weight: normal;
    
}

input {
    background: white;
    width: 20rem;
    box-sizing: border-box;
    height: 3rem;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left: 25px;
    border: none;
    color: gray;
    font-family: Bad Script;
}

input:focus {
    background: linear-gradient(to left, #8fb5fd, #eef6fd);
    transition: .2s;
    transform: scale(1.0009);
    outline: none;
    color: #09162e;
}

span.todo-trash {
    margin-right: 1rem;
    text-align: center;
    height: 2rem;
    width: 0;
    opacity: 0;
    transition: 0.3s linear;
}

i {
    cursor: pointer;
}

button {
    background-color: #09162e;
    border: 2px solid #09162e;
    color: white;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-family: Bad Script;
    transition-duration: .2s;
    cursor: pointer;

}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid #09162e;
}

#buttons {
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#todo {
    margin: 0 auto;
    box-shadow: 0 0 1em black;
    max-width: 400px;
    height: 100%;
    background: white;
    position: relative;
}

#overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#overlay .closeTips {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color: #86a8e7;
    cursor: pointer;
}

#overlay li {
    padding: 8px;
    list-style-type: circle;
    font-size: 30px;
    color: #818181;
    display: block;
}

.todos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todos li {
    background: #f7f7f7;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.todos li span.todo-text {
    padding: 0 8px;
}

.todos li:nth-child(2n) {
    background: #deedfc;
}

.todos li:hover span.todo-trash {
    width: 50px;
    opacity: 1.0;
    margin-left: 5px;
}

.display {
    display: none;
    transition: 0.3s linear;
}

.checked {
    color: gray;
    text-decoration: line-through;
}

.fa-pencil-alt {
    float: right;
    padding-top: 8px;
}

.fa-trash-alt {
    color: #7f7fd5;
}

.tips {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.rotateAnimation {
    transform: rotate3d(1, 1, 1, 45deg);
    transition: .3s cubic-bezier(0.62, 0.06, 1, 1);
    opacity: 0; 
}

/*  if screen size less than 450px, resize tips lists and close btn so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    #todo {
        width: 100%;
        height: 100%;
    }
}


